/* All the HTML5 tags have border,padding and bottom margin */
header, nav, aside, article, section, footer {
border: 1px solid gray;
padding: 25px;
margin-bottom: 25px;
}
/* We need first to define a Flex/Grid container */
nav, a {
  display: flex;
  background: #659494;
  padding-right: 50px;
}
/* hover selector on the anchor element */
nav a:hover {
  text-decoration: underline;
  }

div {
  background: #659494;
  color: white;
  text-align: center;
  margin: 15px;
  padding: 100px;
}

section {
  display: grid;
  grid-template-columns: auto auto auto auto;
}