/* All the HTML5 tags have border,padding and bottom margin */
header, nav, aside, article, section, footer {
border: 1px solid gray;
padding: 25px;
margin-bottom: 25px;
}


/* We need first to define a Flex/Grid container */
/*padding-right: 50px */
nav, div, a {
  display: flex;
  padding-right: 50px;
}
/* hover selector on the anchor element */
nav a:hover {
  text-decoration: underline;
  }

div {
  background: #aaaaaa;
  text-align: center;
  margin: 15px;
  padding: 100px;
}

section {
  display: grid;
  padding-bottom: 50px;
  grid-template-columns: auto auto auto;
}

